{% extends "base.html" %}

{% block title %}Workbench{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/create.css">
<link rel="stylesheet" href="../static/">
{% endblock %}

{% block main %}
<form action="/edit/{{ option }}{{ id }}" method="POST">
  {% if option == "user" %}
  <h1>Edit user</h1>
  <label for="id"> Id </label>
  <div>
    <input type="number" name="id" required>
  </div>

  <label for="firstName"> First name </label>
  <div>
    <input type="text" name="firstName" required>
  </div>

  <label for="lastName"> Last name </label>
  <div>
    <input type="text" name="lastName" required>
  </div>

  <label for="email"> Email </label>
  <div>
    <input type="email" name="email" required>
  </div>

  <label for="username"> Username </label>
  <div>
    <input type="text" name="username" required>
  </div>

  <label for="password"> Password </label>
  <div>
    <input type="password" name="password" required>
  </div>

  <label for="key1"> Security keys </label>
  <div>
    <input type="password" name="key1" placeholder="1. Friend of childhood" required>
    <input type="password" name="key2" placeholder="2. Grandfather's occupation" required>
    <input type="password" name="key3" placeholder="3. Name of the first pet" required>
  </div>
  {% endif %}

  {% if option == "employee" %}
  <h1>Edit employee</h1>
  <label for="userId"> User id </label>
  <div>
    <input type="number" name="userId" required>
  </div>

  <label for="status"> Status </label>
  <div>
    <select name="status">
      <option value="" disabled selected>(select one)</option>
      <option value="master">Master</option>
      <option value="normal">Normal</option>
    </select>
  </div>
  {% endif %}

  {% if option == "art" %}
  <h1>Edit art</h1>
  <label for="id"> Id </label>
  <div>
    <input type="number" name="id" required>
  </div>

  <label for="title"> Title </label>
  <div>
    <input type="text" name="title" required>
  </div>

  <label for="imageLink"> Image link </label>
  <div>
    <input type="text" name="imageLink" required>
  </div>

  <label for="gender"> Gender </label>
  <div>
    <select name="gender" required>
      <option value="" disabled selected>(select one)</option>
      <option value="ceramic">Ceramic</option>
      <option value="sculpture">Sculpture</option>
      <option value="fotography">Fotography</option>
      <option value="goldsmith">Goldsmith</option>
      <option value="picture">Picture</option>
    </select>
  </div>

  <label for="status"> Status </label>
  <div>
    <select name="status" required>
      <option value="" disabled selected>(select one)</option>
      <option value="free">Ceramic</option>
      <option value="pushased">Sculpture</option>
      <option value="waiting">Fotography</option>
    </select>
  </div>

  <label for="autor"> Autor </label>
  <div>
    <input type="text" name="autor" required>
  </div>

  <label for="price"> Price </label>
  <div>
    <input type="number" name="number" min="1" max="999" required>
  </div>

  <label for="comision"> Commision </label>
  <div>
    <input type="number" name="commision" min="5" max="15" required>
  </div>
  {% endif %}

  <button>Submit</button>
</form>
{% endblock%}