{% extends "layout.html" %}

{% block title %}Forgot password{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/login.css">
<link rel="stylesheet" href="../static/css/form.css">
{% endblock %}

{% block body %}
<header>
  <figure id="logoContainer">
    <div><a href="/home" title="Home">
      <img id="logo" src="../static/img/logo.png" alt="Museum logo">
    </div></a>
    <figcaption>
      <h1 id="legend"> Forgot password to Museo ABA </h1>
    </figcaption>
  </figure>
</header>

<main>
  <form action="/forgotPassword" method="POST">
    <div class="areaContainer" id="emailContainer">
      <label for="email"> Email </label>
      <input type="email" name="email" class="inputField" id="email">
    </div>

    <div class="areaContainer" id="securityKeyContainer">
      <label for="key1"> Security keys </label>
      <input type="password" name="key1" class="inputField" id="key1" placeholder="1. Friend of childhood">
      <input type="password" name="key2" class="inputField" id="key2" placeholder="2. Grandfather's occupation">
      <input type="password" name="key3" class="inputField" id="key3" placeholder="3. Name of the first pet">
    </div>

    <div class="areaContainer" id="submitContainer">
      <input type="submit" id="submit" value="Submit" disabled>
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div id="warningMessage">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <aside>
    <p> New in Museum ABA? <a class="link" href="/registration">Sign up</a>.</p>
  </aside>
</main>

<footer>
  <nav>
    <li><a class="link" href="#">Terms</a></li>
    <li><a class="link" href="#">Privacity</a></li>
    <li><a class="link" href="#">Security</a></li>
    <li><a class="link" href="#">Contact</a></li>
  </nav>
</footer>

<script src="../static/js/forgotPassword.js"></script>
{% endblock %}