{% extends "layout.html" %}

{% block title %}Forgot password{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block figcaption %}Forgot password to Museo ABA{% endblock %}

{% block footer %}<li><a class="link" href="#">Terms</a></li>{% endblock %}

{% block body %}
<main>
  <form action="/forgotPassword" method="POST">
    <div class="areaContainer" id="emailContainer">
      <label for="email"> Email </label>
      <input type="email" name="email" class="inputField" id="email">
    </div>

    <div class="areaContainer" id="securityKeyContainer">
      <label for="key1"> Security keys </label>
      <input type="password" name="key1" class="inputField" id="key1" placeholder="1. Friend of childhood">
      <input type="password" name="key2" class="inputField" id="key2" placeholder="2. Grandfather's occupation">
      <input type="password" name="key3" class="inputField" id="key3" placeholder="3. Name of the first pet">
    </div>

    <div class="areaContainer" id="submitContainer">
      <input type="submit" id="submit" value="Submit" disabled>
    </div>
  </form>

  <aside>
    <p> New in Museum ABA? <a class="link" href="/registration">Sign up</a>.</p>
  </aside>
</main>

<script src="../static/js/forgotPassword.js"></script>
{% endblock %}