<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='/img/logo.svg') }}">
  <title>{% block title %}{% endblock %} · Museum ABA</title>
  {% block customCSS %}
  {% endblock %}
  <link rel="stylesheet" href="../static/css/layout.css">
</head>

<body>
  <header>
    <figure id="logoContainer">
      <div><a href="/home" title="Home">
        <img id="logo" src="../static/img/logo.png" alt="Museum logo">
      </div></a>
      <figcaption>
        <h1 id="legend">{% block figcaption %}{% endblock %}</h1>
      </figcaption>
    </figure>
  </header>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  
  <div id="warningMessage">
    <p>{{ message }}</p>
  </div>
  
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block body %}
  {% endblock %}

  <footer>
    <nav>
      {% block footer %}{% endblock %}
      <li><a class="link" href="#">Privacity</a></li>
      <li><a class="link" href="#">Security</a></li>
      <li><a class="link" href="#">Contact</a></li>
    </nav>
  </footer>
</body>

</html>