{% extends "layout.html" %}

{% block title %}Sign in{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block figcaption %}Sign in to Museum ABA{% endblock %}

{% block footer %}<li><a class="link" href="#">Terms</a></li>{% endblock %}

{% block body %}
<main>
  <form action="/login" method="POST">
    <div class="areaContainer" id="emailContainer">
      <label for="email"> Email </label>
      <input type="email" name="email" class="inputField" id="email">
    </div>

    <div class="areaContainer" id="passwordContainer">
      <label for="password"> Password </label>
      <input type="password" name="password" class="inputField" id="password">
      <a class="link" href="/forgotPassword">Forgot password?</a>
    </div>

    <div class="areaContainer" id="checkContainer">
      <label for="check">
        <input type="checkbox"id="check">
        Remember me.
      </label>
    </div>

    <div class="areaContainer" id="submitContainer">
      <input type="submit" id="submit" value="Sign in" disabled>
    </div>
  </form>

  <aside>
    <p> New in Museum ABA? <a class="link" href="/registration">Sign up</a>.</p>
  </aside>
</main>

<script src="../static/js/login.js"></script>
{% endblock %}