{% extends "base.html" %}

{% block title %}Profile {{ option }}{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/operations.css">
{% endblock %}

{% block main %}
<h1>Profile</h1>
<form action="/profile" method="POST" autocomplete="off" enctype="multipart/form-data">  
  <label for="bibliography"> Bibliography </label>
  <div>
    <input type="text" name="bibliography" value="{{ data.1 }}" required>
  </div>

  <label for="birthDate"> Date of birth </label>
  <div>
    <input type="date" name="birthDate" value="{{ data.2 }}" required>
  </div>

  <label for="nationality"> Nationality (ISO 3) </label>
  <div>
    <input type="text" name="nationality" value="{{ data.3 }}" required>
  </div>

  <div>
    <figure>
        <img src="../static/img/upload/{{ data.4 }}" alt="currentPhoto" width="48">
      <figcaption>
        <p>Current photo.</p>
      </figcaption>
    </figure>
  </div>

  <label for="photography"> Photography </label>
  <div>
    <input type="file" name="photography" required>
  </div>

  <button id="submit">Submit</button>
</form>
{% endblock%}