{% extends "layout.html" %}

{% block title %}Sign up{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/registration.css">
{% endblock %}

{% block figcaption %}Sign up to Museum ABA{% endblock %}

{% block body %}
<main>
  <form action="/registration" method="POST">
    <section id="personalSection">
      <div class="areaContainer" id="firstNameContainer">
        <label for="firstName"> First name </label>
        <input type="text" name="firstName" class="inputField" id="firstName">
        <p class="inputMessage">The firstname has to be 1 to 12 digits and can only contain letters.</p>
      </div>

      <div class="areaContainer" id="lastNameContainer">
        <label for="lastName"> Last name </label>
        <input type="text" name="lastName" class="inputField" id="lastName">
        <p class="inputMessage">The lastname has to be 1 to 12 digits and can only contain letters.</p>
      </div>

      <div class="areaContainer" id="emailContainer">
        <label for="email"> Email </label>
        <input type="email" name="email" class="inputField" id="email">
        <p class="inputMessage">The email has a limit of 255 digits and can only contain letters, numbers, points, scripts and underscores.</p>
      </div>

      <div class="areaContainer" id="usernameContainer">
        <label for="username"> Username </label>
        <input type="text" name="username" class="inputField" id="username">
        <p class="inputMessage">The username has to be 4 to 16 digits and can only contain lowercase letters, numbers and underscore.</p>
      </div>

      <div class="areaContainer" id="securityKeyContainer">
        <label for="key1"> Security keys </label>
        <input type="password" name="key1" class="inputField" id="key1" placeholder="1. Friend of childhood">
        <input type="password" name="key2" class="inputField" id="key2" placeholder="2. Grandfather's occupation">
        <input type="password" name="key3" class="inputField" id="key3" placeholder="3. Name of the first pet">
        <p class="inputMessage">The 3 fields of security must be 1 to 12 digits and can only contain letters.</p>
      </div>
    </section>

    <section class="hide" id="paymentSection">
      <div class="areaContainer" id="cardNumberContainer">
        <label for="cardNumber"> Card number </label>
        <input type="text" name="cardNumber" class="inputField" id="cardNumber" autocomplete="off">
        <p class="inputMessage">The card number must be 12 to 19 digits and can only contain numbers.</p>
      </div>
  
      <div class="areaContainer" id="cardNameContainer">
        <label for="cardName"> Card name </label>
        <input type="text" name="cardName" class="inputField" id="cardName" autocomplete="off">
        <p class="inputMessage">The card name has to be 1 to 20 digits and can only contain capital letters and blanks.</p>
      </div>
  
      <div class="areaContainer" id="expirationContainer">
        <label for="month"> Expiration </label>
        <select name="month" id="month">
          <option disabled selected>Month</option>
        </select>
        <select name="year" id="year">
          <option disabled selected>Year</option>
        </select>
        <p class="inputMessage">Select a valid date for month and year.</p>
      </div>
  
      <div class="areaContainer" id="ccvContainer">
        <label for="ccv"> CCV </label>
        <input type="text" name="ccv" class="inputField" id="ccv">
        <p class="inputMessage">The card's security code must be 3 numerical digits</p>
      </div>
  
      <div class="areaContainer" id="paymentContainer">
        <p> Payment <br><span id="payment">"  10$  "</span></p>
      </div>
    </section>

    <section id="submitSection">
      <div class="areaContainer" id="checkContainer">
        <label for="check">
          <input type="checkbox"id="check">
          I accept the <a class="link" href="#">terms and conditions</a>.
        </label>
      </div>
  
      <div class="areaContainer" id="submitContainer">
        <input type="submit" id="submit" value="Sign up" disabled>
        <a class="link" id="next" href="#">Payment &rarr;</a>
        <a class="link hide" id="back" href="#">&larr; Personal</a>
      </div>
    </section>
  </form>

  <aside>
    <p> Already have an account? <a class="link" href="/login">Sign in</a>.</p>
  </aside>
</main>

<script src="../static/js/registration.js"></script>
{% endblock %}